{% include 'nav.njk' %} 
<header class="header">
  <div class='logo'>
    <a href='/' class='link-image' aria-label="home"><img src='/img/logo.jpg' alt="" /></a>
  </div>
  <div class='panel'>
    <h1 class="home__title">Chris Murphy</h1>
    <h2 class="home__title">Furniture and lighting</h2>
    <h3 class="home__title">The art of design and craftship</h3>
  </div>
</header>