---
description:
layout: layout_default.njk
templateEngineOverride: md, njk
---

<article class="content container-center">
  {% include 'homepage_hero.njk' %}
  <div class='hero-text'>
    <p class='lead-para'>Our inaugural product line launches in the autumn</br>
    Sign up now to be the first to hear about it</p>
    <a href='/signup' class='link-button primary'>Sign up now</a>
  </div>
</article>
