.footer-wrapper {
    width: 100%;
    border-top: solid 1px $color-border;
    margin-top: auto;
}

.footer {
    @extend .content;
    
    width: 100%;
    max-width: 900px;
    margin: auto;
    text-align: center;
}