@import "variables";
@import "mixins";


@font-face {
  font-family: "Baloo 2";
  font-style: normal;
  font-weight: normal;
  src: local("Baloo 2 Regular"), local("Baloo-2-Regular"),
    url("../fonts/.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Baloo 2";
  font-style: normal;
  font-weight: 500;
  src: local("Baloo 2 Medium"), local("Baloo-2-Medium"),
    url("../fonts/baloo-2-v1-latin-500.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Title;
  src: url('../fonts/Montserrat-Medium.woff2') format('woff2');
}

@font-face {
  font-family: Body;
  src: url('../fonts/Raleway-Regular.woff2') format('woff2');
}

.panel {
  padding: 2rem;
}

.content {
  @extend .panel;

  max-width: 1500px;
  width: 100%;
  padding: 4rem 2rem 6rem;
  margin: auto;
}

.lead-para {
  @include spacing(margin-bottom, 4);
}

@import "theme";
@import "reset";
@import "layout";
@import "containers";
@import "sitenav";
@import "header";
@import "typography";
@import "buttons";
@import "links";
@import "card";
@import "prism";
@import "utilities";
@import "footer";
