---
title: "About"
description: "About Chris"
layout: layout_default.njk
order: 1
---

<div class='panel container-image-text'>
    <h3>{{ title }} Chris</h3>
    <div class='image'>
        <img src='https://placekitten.com/400/400' />
    </div>
        <p class='text'>
            Some text about how awesome Chris is
            Some text about how awesome Chris is
            Some text about how awesome Chris is
            Some text about how awesome Chris is
            Some text about how awesome Chris is
            Some text about how awesome Chris is
            Some text about how awesome Chris is
            Some text about how awesome Chris is
            Some text about how awesome Chris is
            Some text about how awesome Chris is
            Some text about how awesome Chris is
            Some text about how awesome Chris is
            Some text about how awesome Chris is
            Some text about how awesome Chris is
            Some text about how awesome Chris is
            Some text about how awesome Chris is
            Some text about how awesome Chris is
            Some text about how awesome Chris is
            Some text about how awesome Chris is
            Some text about how awesome Chris is
            Some text about how awesome Chris is
            Some text about how awesome Chris is
            Some text about how awesome Chris is
            Some text about how awesome Chris is
            Some text about how awesome Chris is
            Some text about how awesome Chris is
            Some text about how awesome Chris is
        </p>
</div>