---
title: "About"
description: "About Chris"
layout: layout_default.njk
order: 1
---

<div class='panel container-image-text'>
    <h3>{{ title }} Chris</h3>
    <div class='image'>
        <img src='https://placekitten.com/400/400' />
    </div>
    <p class='text'>   
        I live in Hove and work out of my workshop/studio at the end of the garden. Having lived in London for over a decade I find being close to the sea and the countryside gives me space to breathe, to be creative. Being close to the city keeps me connected to culture and people.
    </p>
    <p class='text'>
        For me, design and craft are inextricably linked. The journey from inspiration to inception to an actual thing that people can see, touch and feel, needs to come from a collaboration of techniques; paper and pencil, computer, model making, construction, materials, all play a part in the final design. Each idea lives with me for months or even years, going through iteration after iteration, before it becomes an object. When you're making objects that live in peoples homes, and may last long after they're gone, how that object looks, performs, feels, through each part of the day, from breakfast to bedtime, spring to winter, are all considered.
    </p>
    <p class='text'>
        In a world who’s resources are under pressure like never before from human exploitation, I ensure I source the most sustainable materials available. Rebuking disposable culture by making objects that last lifetimes.
    </p>
</div>